@font-face {
    font-family: "GT Walsheim";
    font-weight: 400;
    font-display: swap;
    src: url("fonts/GT-Walsheim-Regular.woff") format("woff"), url("fonts/GT-Walsheim-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "GT Walsheim";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("fonts/GT-Walsheim-Regular-Oblique.woff") format("woff"),
        url("fonts/GT-Walsheim-Regular-Oblique.woff2") format("woff2");
}
