@mixin small-mobile() {
  @media screen and (min-width: $small-mobile-breakpoint) {
    @content;
  }
}

@mixin large-mobile() {
  @media screen and (min-width: $large-mobile-breakpoint) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop() {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin widescreen() {
  @media screen and (min-width: $widescreen-breakpoint) {
    @content;
  }
}

@mixin fullhd() {
  @media screen and (min-width: $fullhd-breakpoint) {
    @content;
  }
}

@function vh($quantity) {
  @return calc(var(--vh, 1vh) * #{$quantity});
}

@mixin stdgrid() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--size-gap);

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(12, 1fr);
  }
}
