:root {
  --font-size-small: 14px;
  --font-size-normal: 18px;
  --font-size-medium: 24px;
  --font-size-large: 28px;
  --font-size-x-large: 36px;
  --font-size-xx-large: 48px;
  --font-size-xxx-large: 64px;

  --font-family-body: "GT Walsheim", sans-serif;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-light: 300;
}
